body {
    --color-bg-body: #e8fffa;
    --color-bg-content: #d9fff7;
    --color-bg-extra: #8AA6A3;
    --color-fg-item: #217373;

    font-family: Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    text-align: center;
    color: var(--color-fg-item);
    background-color: var(--color-bg-body);
}
.content {
    border: 2px var(--color-fg-item) solid;
    border-radius: 12px;
    background-color: var(--color-bg-content);
    padding: 3%;
}
#extra {
    color: var(--color-bg-body);
    background-color: var(--color-bg-extra);
    margin: auto;
    border-radius: 15px;
    padding: 2%;
    overflow: hidden;
    animation: extraDisplay 1s forwards;
}
@keyframes extraDisplay {
    /* replace with generic show/hide animations */
    0% {
        width: 0%;
        height: 0vh;
    }
    50% {
        width: 95%; /* div is no longer centered.*/
        height: 0vh;
    }
    100% {
        height: 5vh;
    }
}
input, option, select {
    /* TODO: implement noJS way of trashing the default styling */
    background-color: var(--color-bg-body);
    border-radius: 6px;
}
.btn {
    font-weight: bold;
}
.hidden {
    display: none;
}
